@import "base";
@import (inline) "styles.css";
@import (inline) "../lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css";


.content {
  padding-top: 90px;
}

.nav img {
  height:20px;
  width: 20px;
}

.highlighted {
  background: #FF0000;
}

table td, table th {
  background: white;
}
